Anguttara Nikaya by Bhante Hye Dhammavuddho Mahathera/5_4_40/*.mp4
Anguttara Nikaya by Bhante Hye Dhammavuddho Mahathera/5_4_40/*.srt
Majjhima Nikaya by Bhante Hye Dhammavuddho Mahathera/
Samyutta Nikaya by Bhante Hye Dhammavuddho Mahathera/
Digha Nikaya by Bhante Hye Dhammavuddho Mahathera/
Khuddaka Nikaya by Bhante Dhammavuddho Hye Mahathera/
panels/
.gemini/
*.log
node_modules/
